#container {
  margin: 50px auto;
}

#timer {
  margin: 50px;
  text-align: center;
}

.grid {
  float: left;
  width: 20px;
  height: 20px;
  border: 3px outset;
  text-align: center;
  line-height: 20px;
}

.active {
  border: 3px inset;
}

.number1 {
  border-color: black;
  color: blue;
}

.number2 {
  border-color: black;
  color: green;
}

.number3 {
  border-color: black;
  color: red;
}
